<h2 mat-dialog-title class="title-blue">Change Password</h2>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="password-form">
  <mat-dialog-content>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" required />
      <mat-error *ngIf="submitted && changePasswordForm.controls['oldPassword'].invalid">
        Old password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" required />
      <mat-error *ngIf="submitted && changePasswordForm.controls['newPassword'].invalid">
        New password must be at least 12 characters
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button type="submit" style="background-color:#009cd1; color:white;">
      Change
    </button>

  </mat-dialog-actions>
</form>
