.comp{
  margin-bottom: 120px;
}
.d-comp{
  width:28%;background-color: #009cd1; text-align:left;
}
.mc{
  text-align: center; color: #009cd1; font-weight:bold
}
.sub{
  background-color:#009cd1;
  border-color:#009cd1;
}
.report{
  position:absolute;
  bottom: 30%;
  left:11%;
  top: 60%;
}
