<footer class="footer text-white dsiFoot ">
  <div class="container">
    <p><span class="urlLeft"><a class="text-white text-decoration-none" href="https://www.ptb.de" target="_blank">© PHYSIKALISCH-TECHNISCHE BUNDESANSTALT </a></span>
      <span class="urlRight">
                <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/service-seiten/impressum.html"
                   target="_blank">IMPRESSUM </a>
                 <a class="text-white text-decoration-none"
                    href="https://www.ptb.de/cms/de/service-seiten/datenschutz.html" target="_blank"> | DATENSCHUTZ</a>
                 <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/de/meta/barrierefreiheit.html"
                    target="_blank"> | BARRIEREFREIHEIT </a>
                 <a class="text-white text-decoration-none" href="https://www.ptb.de/cms/de/service-seiten/sitemap.html"
                    target="_blank"> | SITEMAP</a></span></p>
  </div>
</footer>
